.main-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2px 5px;
    background-color: rgba(19, 19, 23, 0.488);
    backdrop-filter: blur(10px);
    color: white;
    font-family: 'Montserrat', sans-serif;
    height: 30px;
    position: relative;
    cursor: default;
    z-index: 1000;
}

.portfolio {
    flex: 1;
    font-size: 16px;
    text-align: left;
}

.clock {
    flex: 1;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-left: -2%;

}

.fullscreen-button {
    font-size: 12px;
    padding: 3px 8px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 4px;
    
}

.message-box {
    position: absolute;
    top: 100%; 
    left: 50%;
    transform: translateX(-50%) scale(0.8);
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    z-index: 1000;
    text-align: center;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden; 
    transition: top 0.3s ease, opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    height: 500px;
    width: 400px;
}

.message-box.active {
    top: calc(100% + 10px);
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
}

.time-format-toggle {
    margin-top: 0px;
    margin-bottom: 25px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.time-format-toggle:hover {
    background-color: gray;
}

.message-box p {
    color: red;
    font-weight: bold;
}

.sleep{
    width: 30px;
    height: 30px;
    cursor: pointer;
}



.topmenu{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.tool-tip {
    position: absolute;
    bottom: -25px;
    background-color: #333;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    white-space: nowrap;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    
}

.sleep-icon-container:hover .tool-tip {
    visibility: visible;
    opacity: 1;
    
}