@keyframes lockScreenFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes lockScreenFadeOut {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

.lockscreen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.487);
    z-index: 1000;
    opacity: 1;
    transform: translateY(0%);
    animation: lockScreenFadeIn 1s ease-out forwards; /* Default locked state animation */
    backdrop-filter: blur(10px);
}

.lockscreen-container.unlocked {
    animation: lockScreenFadeOut 1s ease-out forwards; /* Unlock animation */
}

.lockscreen-content {
    background: rgba(0, 0, 0, 0.482);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clocks {
    font-size: 300px;
    margin-bottom: 20px;
    color: white;
}

.instruction {
    font-size: 24px;
    color: white;
    margin-top: 20px;
}

.lockscreen-content button {
    padding: 10px 20px;
    font-size: 16px;
    background: #3e3f40;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.lockscreen-content button:hover {
    background: #0f0f0f;
}
