@keyframes openAnimation {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


.camera-app{
    display: flex;
    background-color: #272727;
    flex-direction: column;
    border-radius: 10px;
    height: 500px;
    width: 300px;
    min-width: 800px;
    min-height: 800px;
    animation: openAnimation 0.1s ease-out;
    border: 1px solid black;
}

.camera-app.closing {
    animation: closeAnimation 0.1s ease-out forwards;
}

.topbarca{
    display: flex;
    flex-direction: row;
    background-color: rgb(19, 19, 23);
    color: white;
    height: 40px;
    font-size: 14px; 
    justify-content: space-between;
    align-items: center; 
    padding: 0 10px; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    
}
.close-buttonca img{
    width: 21px;
    height: 21px;
    cursor: pointer;
    margin-right: 5px; 
}
.topbarca p{
    background-color:  rgb(19, 19, 23);
}

.app-titleca{
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: white;
}

.app-titleca img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 5px;
}

.adjtopca{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.contentca{
    justify-content: center;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}
.contentca img{
    height: 100px;
    transform: scaleX(-1);
}
