body{
  overflow: hidden;
}
.App {
  background-image: url('./Assests/wallpaper.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; 
  margin: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; 
  font-family: Arial, sans-serif; 
  user-select: none;
  overflow: hidden;
}

.app-container > div {
  position: absolute;
  cursor: pointer;
  z-index: auto;
}

.app-container > div.active {
  z-index: 1000; 
}



@media (max-width: 1024px) {
  .App {
    display: none;
  }

  .mobile-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    padding: 20px;
  }

  .mobile-message h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .mobile-message p {
    font-size: 1.2rem;
  }
}


@media (min-width: 1025px) {
  .App {
    display: fixed;
  }
}