.browser-app {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    animation: openAnimation 0.1s ease-out;
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
}

.browser-app.closing {
    animation: closeAnimation 0.1s ease-out forwards;
}

@keyframes openAnimation {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes closeAnimation {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}

.topbarb {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.app-titleb {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.app-titleb img {
    width: 30px;
    height: 30px;
}

.topbarb input {
    flex-grow: 1;
    padding: 5px;
    margin-right: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.topbarb button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.close-buttonb img {
    width: 21px;
    height: 21px;
    cursor: pointer;
}

.contentb {
    flex-grow: 1;
    overflow: auto;
    display: flex;
    color: black;
}

.contentb iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.resizer {
    width: 10px;
    height: 10px;
    background: #ccc;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: se-resize;
    border-radius: 2px;
}
